@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  box-sizing: border-box;
  font-family: Pixelify Sans, sans-serif;
}


h1,
h3,
a, h6 {
  color: black;
  font-weight: 400;
  font-family: Pixelify Sans, sans-serif;
}

body {
  background-image: url("../dist/images/cutebluebg.png");
  /* background-image: url("/images/cutebluebg.png"); */
  background-repeat: repeat;
  height: fit-content;
  background-attachment: scroll;
  background-size: 70% auto;
  background-position: top;
}

p, li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 600;
}

li {
  list-style: disc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: black;
}

h1 {
  font-size: 50px;
}