@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


 * {
  box-sizing: border-box;
}


body {
  background-color: rgb(22, 22, 22);
}

.hero {
  width: 75%;
}

h1, h3 {
  font-family: Pixelify Sans, sans-serif;
  color: white;
  font-weight: 400;
  text-align: center;
}
