@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


 * {
  box-sizing: border-box;
}


h1, h3, a {
  font-family: Pixelify Sans, sans-serif;
  color: black;
  font-weight: 400;
  text-align: center;
}

body {
  background-image: url("/my-app/public/images/cutebluebg.png");
  background-repeat: repeat;
  height:fit-content;  
  background-attachment: scroll;
  background-size: 70% auto;
  background-position: top;
}