@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


 * {
  box-sizing: border-box;
}


.hero {
  width: 75%;
}

h1, h3 {
  font-family: Pixelify Sans, sans-serif;
  color: white;
  font-weight: 400;
  text-align: center;
}

:root {
  --light-pink: #FFDDE2;
  --pink: #F9C2D1;
  --beige: #F6E8E6;
  --grey: #818181;
}

body {
  background: var(--pink);
}

.box {
  position: relative;
  margin: auto;
  display: block;
  width: 502px;
  height: 312px;
  display: flex;
  justify-content: center;
}

.head {
  position: absolute;
  width: 25%;
  height: 30%;
  background: var(--beige);
  left: 30%;
  top: 30%;
  border-radius: 50%;
}

.ear-left {
  position: absolute;
  background: var(--beige);
  width: 30%;
  height: 50%;
  bottom: 80%;
  left: 10%;
  border-radius: 50% 50% 0% 0%;
  animation: moveLeft 2s infinite;
}

.ear-right {
  position: absolute;
  background: var(--beige);
  width: 33%;
  height: 50%;
  bottom: 80%;
  right: 10%;
  border-radius: 50% 50% 0% 0%;
  animation: moveRight 2s infinite; 
}

.inner-ear {
  position: absolute;
  background: var(--light-pink);
  width: 70%;
  height: 77%;
  left: 15%;
  top: 12%;
  border-radius: 50% 50% 10% 10%;
}

.eye-left {
  position: absolute;
  background: var(--grey);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 50%;
  left: 20%;
  z-index: 3;
  animation-iteration-count: infinite;
}

.eye-right {
  position: absolute;
  background: var(--grey);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 50%;
  right: 20%;
  z-index: 3;
  animation-iteration-count: infinite;
}

.pupil {
  position: absolute;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  left: 20%;
  top: 10%;
  background: #ffffff;
  animation-iteration-count: infinite;
}

.nose {
  position: absolute;
  background: var(--grey);
  width: 15px;
  height: 10px;
  top: 60%;
  left: 46%;
  border-radius: 50%;
}

.line {
  position: absolute;
  border-left: solid 4px var(--grey);
  height: 200%;
  top: 20%;
  left: 37%;
  border-radius: 20%;
}

.blush-right {
  position: absolute;
  background: var(--light-pink);
  width: 15%;
  height: 14%;
  border-radius: 50%;
  top: 59%;
  right: 13%;
}

.blush-left {
  position: absolute;
  background: var(--light-pink);
  width: 15%;
  height: 14%;
  border-radius: 50%;
  top: 59%;
  left: 13%;
}

@keyframes moveRight {
  0% {
    transform: rotate(20deg);
    transform-origin: bottom right;
  }
  50% {
    transform: rotate(25deg);
    transform-origin: bottom;
  }
  100% {
    transform: rotate(20deg);
    transform-origin: bottom right;
  }
}

@keyframes moveLeft {
  0% {
    transform: rotate(-20deg);
    transform-origin: bottom left;
  }
  50% {
    transform: rotate(-25deg);
    transform-origin: bottom;
  }
  100% {
    transform: rotate(-20deg);
    transform-origin: bottom left;
  }
}

body {
  background-color: rgb(22, 22, 22);
}